# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environment
venv/
.venv/
env/

# Django
*.sqlite3
*.log
local_settings.py
/staticfiles/
/mediafiles/

# Distribution / packaging
*.egg-info/
dist/
build/
.eggs/

# Environment variables
.env
.env.*

# IDE / editors
.vscode/
.idea/
*.swp
*.swo
.DS_Store
